<div class="p-3 m-3">
    <h2>
        Add some new elenets
    </h2>
    <hr>
    <form method = "post">
        <div class="conteiner">
            <div class="row">
                {% csrf_token %}
        
                {% for field in forms.add %}
                    {% if forloop.first %}
                        {{ field }}
                    {% else %}
                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ field }}
                                {{ field.label_tag }}
                            </div>
                                {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
                {{ forms.add.non_field_errors }}
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-outline-dark mb-3">Add</button>
            </div>
        </div>
    </form>
</div>

