<h2 class="m-3">
    Dashboard
</h2>
<hr class="m-3">

<div class="bg-white p-3 m-3">
<canvas id="myChart" width="100" height="30"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const ctx = document.getElementById('myChart');
    const skipped = (ctx, value) => ctx.p0.skip || ctx.p1.skip ? value : undefined;
    const down = (ctx, value) => ctx.p0.parsed.y > ctx.p1.parsed.y ? value : undefined;
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for date in timeline %} "{{date | date:"Y-m-d H:i:i"}}", {% endfor %}],
            datasets: [ {% for item, value in towndict.items %}
            {
                label: "{{ item }}",
                data: [{% for temp in value %} {% if not temp %} NaN, {% else %} {{ temp }}, {% endif %} {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
                segment: {
                    borderColor: ctx => skipped(ctx, 'rgb(0,0,0,0.2)') || down(ctx, 'rgb(192,75,75)'),
                    borderDash: ctx => skipped(ctx, [6, 6]),
                  },
                spanGaps: true
            },
            {% endfor %}
            ]
        },
        options: {
            fill: false,
            interaction: {
              intersect: false
            },
            radius: 0,
          }
    });
</script>
</div>