<div class="p-3 m-3">
<h2>
    Add data from json
</h2>
<hr>

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="file" name="file" class="form-control">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
</div>