{% load main_tags %}

<h2>
  Weathers data
</h2>
<hr>

{% if request.method == 'GET'%}
<div class="p-3">

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Town</th>
        <th scope="col">Temperature</th>
        <th scope="col">Weather Type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
          {% for item in tabletofilter %}
          <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.date | date:"Y-m-d" }}</td>
          <td>{{ item.date | date:"H:i" }}</td>
          <td>{{ item.town }}</td>
          <td>{{ item.temp }}ºC</td>
          <td>{{ item.weath }}</td>
          <td>
            <button type="button" class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#editLine{{ item.pk }}">Edit</button>
            </td>  
            </tr>
          {% endfor %}
    </tbody>
  </table>
</div>

<div class="ps-3 pe-3">
  <form method = "get">
      <div class="conteiner">
          <div class="row">
              {% for field in filter.form %}
                      <div class="col">
                              <div class="form-control">
                                <div>{{ field.label_tag }}</div>
                              {{ field }}</div>
                      </div>
              {% endfor %}
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-outline-dark mt-3 mb-3">Filter</button>
          </div>
      </div>
  </form>
</div>

{% else %}

{% get_table %}

{% endif %}