{% extends 'base.html' %}
{% load main_tags %}


{% block content %}


{% comment %} <div>
    <h1>Weather App</h1>
    <h3>
        Test 
    </h3>
</div> {% endcomment %}
{% include 'main/filter.html'%}
{% include 'main/modaledit.html'%}
{% include 'main/dashboard.html' %}
{% include 'main/addtab.html'%}
{% include 'main/fileimport.html'%}

{% endblock %}
