{% load main_tags %}
{% get_table_filter as modals %}
{% for item in modals %}

<div class="modal fade" id="editLine{{ item.pk }}" tabindex="-1" aria-labelledby="editLine{{ item.pk }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editLine{{ item.pk }}">Editing Line</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container text-center mb-3">
          <div class="row">
            <div class="col">
                {{ item.date | date:"d-m-Y" }}
            </div>
            <div class="col">
                {{ item.date | date:"H:i" }}
            </div>
            <div class="col">
                {{ item.town }}
            </div>
            <div class="col">
                {{ item.temp }}ºC
            </div>
            <div class="col">
                {{ item.weath }}
            </div>
          </div>
        </div>

        <form method = "post">
            <div class="conteiner">
                <div class="row">
                    {% csrf_token %}
                    <input type="hidden" name="linepk" value={{ item.pk }} id="id_linepk">
                    {% for field in forms.edit %}
                        {% if forloop.first %}
                            {{ field }}
                        {% else %}
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                                    {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <a href="delete/{{ item.pk }}" class="btn btn-danger">Delete</a>
        <button type="submit" class="btn btn-primary" id="editLine{{ item.pk }}">Edit</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}

