<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Town</th>
      <th scope="col">Temperature</th>
      <th scope="col">Weather Type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
        {% for item in table %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.date | date:"Y-m-d" }}</td>
        <td>{{ item.date | date:"H:i" }}</td>
        <td>{{ item.town }}</td>
        <td>{{ item.temp }}ºC</td>
        <td>{{ item.weath }}</td>
        <td>
            <button type="button" class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#editLine{{ item.pk }}">Edit</button>
        </td>
        </tr>
        {% endfor %}
  </tbody>
</table>
